@import "mixin.scss";
@import "sass/menu.scss";
@import "sass/loader.scss";
@import "sass/animations.scss";
@import "sass/notification.scss";

body {
	& > .container {
		position: relative;
		left: 35px;
	}
}

li {
	list-style: none;
}

.legends {
	$squareWidth: 12px;
	margin-bottom: 10px;
	
	ul {
		margin-left: -40px;
	}

	li {
		float: left;
		margin-right: 15px;
		white-space: nowrap;

		.legend-square {
			width: $squareWidth;
			height: $squareWidth;
			display: inline-block;
		}		
	}
}