/*scss for loader*/
.loader {
	$spinWidth: 50px;
	$borderWidth: 3px;
	$topColor: rgba(150, 150, 150, 0.8);
	$bottomColor: lighten($topColor, 30%);

	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10000;
	background-color: rgba(255, 255, 255, 0.5);

	.spiner {
		width: $spinWidth;
		height: $spinWidth;
		border-radius: $spinWidth / 2; 
		position: relative;
		left: calc(50% - #{$spinWidth / 2});
		top: calc(50% - #{$spinWidth / 2});
		border-top: solid $borderWidth $topColor;
		border-right: solid $borderWidth $topColor;
		border-bottom: solid $borderWidth $bottomColor;
		border-left: solid $borderWidth $bottomColor;
		animation: spin 1s linear 0s infinite;
	}
}