.menu {
	$gray:#e6e6e6;
	$firstLevelMenuWidth: 50px;
	$menuWidth: 150px;
	$firstLevelMarginTop: 30px;
	$firstLevelIconSize: 26px;
	$secondLevelLiMarginTop: 10px;

	height: 100%;
	background: $gray;
	width: $firstLevelMenuWidth;
	position: fixed;
	top:0px;
	left: 0px;
	z-index: 10000;

	ul {	
		margin-left: -30px;
	}

	li {
		list-style: none;
	}

	.first-level {
		& > li {
			margin-top: $firstLevelMarginTop;
			cursor: pointer;
			position: relative;
			
			&:first-child {
				margin-top:10px;
			}

			& > a > div > .glyphicon,
			& > div > .glyphicon
 			{
				font-size: $firstLevelIconSize;
			}

			&:hover {
				.second-level, .item-title {
					display: block;
				}
			}

			.item-title {
				$bgColor: darken($gray, 5%);
				$borderWidth: 15px;
				position: absolute;
			    left: 18px;
    			top: 0px;
    			display: none;

				white-space: nowrap;
				
				span {
					display: inline-block;
				}

				.arrow {
					border:solid $borderWidth $bgColor;
					border-left-color: transparent;
					border-top-color: transparent;
					border-bottom-color: transparent;
				}

				.content{
					padding: 6px;
					background: $bgColor;
					white-space: nowrap;
					position: relative;
					top:-10px;
					left: -4px;
					border-radius: 0 3px 3px 0px;
				}
			}
		}
	}

	.second-level {
		min-width: $menuWidth;
		height: 100%;
		position: fixed;
		left: $firstLevelMenuWidth;
		top: 0px;
		background-color: darken($gray, 5%);
		display: none;

		li {
			margin-top: $secondLevelLiMarginTop;
			color: darken($gray, 50%);

			.item {
				.glyphicon-play {
					font-size: 11px;
					margin-left: 10px;
					margin-right: 10px;
					&.active {
						@include transform(rotate(90deg))
					}
				}
			}
		}

		& > ul > li > div > .line-break,
		& > ul > li > a > div > .line-break
		 {
			border-bottom: solid 1px darken($gray, 20%);
			margin-top: 10px;
			margin-left: -10px;
		}
	}
}