<div class='latest-order'>
	<h3>Live Orders</h3>
	<div class='legends'>
		<ul>
			<li>
				<span class='legend-square bg-danger'></span>
				recive order
			</li>
			<li>
				<span class='legend-square bg-primary'></span>
				cooking
			</li>
			<li>
				<span class='legend-square bg-info'></span>
				delivery
			</li>
			<li>
				<span class='legend-square bg-success'></span>
				done
			</li>
		</ul>

		<div class="clearfix"></div>
	</div>

	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Orders</th>
			<th>Tel</th>
			<th>Addrss</th>
			<th>Status</th>
			<th>Order Time</th>
			<th>Deliver Time</th>
			<th>Total</th>
		</tr>

		<tr ng-repeat='order in orders.items' ng-class='{"bg-danger":order.status==0, "bg-primary":order.status==1, "bg-info":order.status==2, "bg-success":order.status==3}'>
			<td>{{order.userInfo.username}}</td>
			<td>{{order.userInfo.email}}</td>
			<td>
				<ul>
					<li ng-repeat='product in order.products'>
						<label>{{product.name}}</label> X {{product.quantity}} -- &pound;{{product.price * product.quantity}}
					</li>
				</ul>
			</td>
			<td>{{order.contact.tel}}</td>
			<td>{{order.contact.address1}}, {{order.contact.address2}}, {{order.contact.city}}, {{order.contact.postcode}} </td>
			<td>
				<select ng-model='order.status' ng-change='udpateOrderStatu(order)'>
					<option ng-repeat='statu in configs.getConfig("status") track by $index' value='{{$index}}'>{{statu}}</option>
				</select>
			</td>
			<td>	
				{{timeService.format(order.orderTime*1000)}}
			</td>
			<td>
				{{timeService.format(order.delieverTime*1000)}}
			</td>
			<td>
				&pound;{{orders.getTotal(order.products)}}
			</td>
		</tr>
	</table>

</div>